*,
html,
body {
    overflow: hidden;
}

h1:not(h1 span) {
    color: transparent;
    background: linear-gradient(45deg, #f58529 0%, #feda77 25%, #dd2a7b 50%, #8134af 75%, #515bd4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 3em 0.1em 3em 0.04em;
}

div p {
    font-size: 256px;
}
